{{!-- The following component displays Ember's default welcome message. --}}
<<<<<<< HEAD
<h1>Menu Tracker</h1>
<p>Our restaurant is {{restaurant.name}}.  We've been open for {{restaurant.yearsOpen}} year(s).</p>
<p id="explanation">Menu Tracker helps you see what dishes are available today.</p>
<ul>
  {{#each model as |food|}}
  {{#if food.isAvailable}}
   <li>
     {{food.name}}!
     <button {{action 'makeUnavailable' food}}>Make Unavailable</button>
   </li>
 {{else}}
   <li class="not-available">
     {{food.name}}
     <button {{action 'makeAvailable' food}}>Make Available</button>
   </li>
 {{/if}}
  {{/each}}
</ul>
=======
{{welcome-page}}
{{!-- Feel free to remove this! --}}
>>>>>>> f27d2596452bd52deb4682acc2d22bb5f81629bb

{{outlet}}
